* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    /* border-bottom: 0px solid rgba(100, 100, 100, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    /* transition-duration: .5s; */
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    padding: 0 2px;
    /* border-bottom: 3px solid #ffffff; */
}

#tray {
    background-color: #64727d;
    padding: 0 2px;
}

#keyboard-state label.locked {
    background-color: #eb4d4b;
    padding: 0 2px;
}
